.titulos h1  {
    text-align: center;
    color: #ff8300;
    
}

.titulos{
    width: 800px;
    margin:0 auto;
}

.titulos p {
    text-align: center;
    font-size: 40px;
    
}

.beneficios{
    width: 1200px;
    margin: 0 auto;
}

.container-beneficios{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

.container-beneficios-2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 20px;
}

.imagen{
    border:1px solid black;
    width: 80px;
    height: 80px;
}

.imagen-1{
    background-color: red;
}

.imagen-2{
    background-color: blue;
}
.imagen-3{
    background-color: yellow;
}
.imagen-4{
    background-color: aquamarine;

}
.imagen-5{
    background-color: #ff8300;

}
.imagen-6{
    background-color: black;

}
.imagen-7{
    background-color: azure;

}
.imagen-8{
    background-color: antiquewhite;

}

.titlulo-beneficios{
    font-weight: bold;
}
.parrafo-servicio{
    font-weight: 100;
    color:#bbbbbb;
}

.item-tipo-servicio{
    border: 1px solid black;
}

.flex-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}